.DS_Store
node_modules
db/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/

.idea
.scannerwork
coverage
*.code-workspace

.env
